/* Google Fonts For work sence */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* shared style */
*{
    font-family: 'Inter', sans-serif;
    font-family: 'Work Sans', sans-serif;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.btn_primary{
    border-radius: 8px;
    background: #FF900E;
    padding: 21px 25px;
    color: #fff;
    font-weight: 600;
    font-size: 1.25rem;
    border: none;
    cursor: pointer;
}
/* header related style */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_title{
    font-size: 2.8rem;
    font-weight: 700;
    color: var(--dark-01, #131313);
}
nav>ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right:  30px;
    text-align: center;
    font-size: 1rem;
    font-weight: 500; /* 144.444% */
}
nav a{
    text-decoration: none;
    color: var(--dark-02, #424242);

}
/* bannar related style */
.bannar_content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.bannar_title{
    color: var(--dark-01, #131313);
    font-size: 4rem;
    font-weight: 700;
}
.bannar_description{
    color: var(--dark-03, #727272);
    font-weight: 400;
}
.bannar img{
    margin-top: 20px;
    width: 100%;
}
/* main styles */
main{
    max-width: 1440px;
    margin: 0 auto;
}
/* teams section related style */
.teams_container{
    display: flex;
    align-items: center;
}
.teams_img_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.teams_content{
    padding: 0 70px;
}
.teams_title{
    font-size: 2.8rem;
}
.teams_title .quicklist{
    color: #727272;
    font-weight: 500;
}
.teams_title .text_features{
    color: #FF900E;
    font-weight: 700;
}
.teams_description{
    color: var(--dark-03, #727272);
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
}



/* Responsive Media query related syle */
/* mobile Device */
@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }
}
/* Tablet Device */
@media screen and (min-width:576px) and (max-width:992px) {
    header{
        padding: 50px;
    }
    nav{
        flex-direction: column;
    }
}